.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }
}

.section {
  padding: 60px 0;

  @media (max-width: $breakpoint768) {
    padding: 45px 0;
  }
}

.section-head {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 44px;

  @media (max-width: $breakpoint768) {
    margin-bottom: 30px;
  }
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: var(--black);

  &--white {
    color: var(--white);
  }

  @media (max-width: $breakpoint768) {
    font-size: 32px;
  }
}

.section-title--h1 {
  max-width: 1050px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  line-height: 120%;
  color: var(--black);

  &--white {
    color: var(--white);
  }

  @media (max-width: $breakpoint768) {
    font-size: 32px;
  }
}

.section-title__lite {
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  line-height: 120%;
  color: var(--black);

  &--white {
    color: var(--white);
  }

  @media (max-width: $breakpoint768) {
    font-size: 32px;
  }
}

.section-text {
  max-width: 900px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--gray);
  opacity: 0.6;

  &--white {
    color: var(--white);
  }

}

.section-subtitle--green {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: var(--green);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: var(--green);
  border: 1px solid transparent;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--white);

  transition: 0.2s linear;

  img {
    transition: transform 0.2s linear;
  }

  @media (hover:hover) {
    &:hover {
      background-color: var(--gray);
      border-color: var(--white);

      img {
        transform: translateX(3px);
      }
    }
  }
}

.btn-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid white;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--white);

  transition: 0.2s linear;

  img {
    transition: transform 0.2s linear;
  }

  @media (hover:hover) {
    &:hover {
      background-color: var(--green);
      border-color: transparent;

      img {
        transform: translateX(3px);
      }
    }
  }
}