.type {
  background-color: var(--white);

  .section-title {
    @media (max-width: $breakpoint768) {
      img {
        display: none;
      }
    }
  }

  .section-text {
    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }
  }

  // .type__inner

  &__inner {}

  // .type__main

  &__main {}

  // .type__tabs

  &__tabs {}
}